
* {
    /* color: white; */
}

.jumbotron {
    display: flex;
    background-color: rgb(197, 75, 75);
    justify-content: center;
    align-items: center;
    height: 200px;
    color: white;
}

.container {
    margin: 8%;
    width: 65%;
}
.employee {
    margin-right: 25px;
    margin-left: 25px;
    
}
.card-body {
    background-color: rgb(20, 78, 185);
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 4px 2px 4px 1px rgb(190, 188, 188);
}

.info {
    border: 1px solid rgb(211, 207, 207);
    padding: 30px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgb(238 242 243);
    box-shadow: 4px 2px 4px 1px rgb(190, 188, 188);
}

li {
    border: 1px solid rgb(211, 207, 207);
    padding: 15px;
    border-radius: 2px;
    background-color: white;
    z-index: 5;
}

